ul {
    list-style: none;
}

body {
    font-family: arial;
}

header,
.container {
    width: 920px;
    margin: 0 auto;
    background-color: #fff;
}

header {
    padding: 20px;
    height: 131px;
    border-bottom: solid 1px #ccc;
}

header h1.logo-globo {
    margin-top: 15px;
    float: left;
}

header h1.logo-globo a {
    background: url('../img/logo.png') 0 -72px no-repeat;
    width: 122px;
    height: 72px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}

header h1.logo-globo a:hover {
    background: url('../img/logo.png') 0 -1px no-repeat;
}

header h1.nossas-palestras {
    float: left;
    margin-left: 129px;
    margin-top: 35px;

    background: url('../img/nossaspalestras.png') 0 0 no-repeat;
    width: 438px;
    height: 35px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}

header h1.logo-fisl {
    float: right;
}

header h1.logo-fisl a {
    background: url('../img/logofisl.png') 0 0 no-repeat;
    width: 103px;
    height: 103px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}

header p a {
    float: left;
    margin-top: 20px;
    margin-left: 188px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
}

header p a:hover {
    text-decoration: underline;
}

.body .container {
    padding: 60px 20px 0 20px;
}

.talks {
    position: relative;
    padding-top: 35px;
    height: 542px;
    width: 964px;
    overflow: hidden;
}

.current-talks {
    position: relative;
}

.talk {
    margin-bottom: 80px;
    position: relative;
    height: 115px;
}

.talk.current {
    position: absolute;
    left: -13px;
    top: 0;
    width: 970px;
}

.talks.has-current {
	margin-top: 140px;
}

.talk .border {
    display: none;
    z-index: 1;
    position: absolute;
    width: 1000px;
    height: 195px;
    top: -28px;
    left: -28px;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: solid 1px #ccc;

    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 8%, #e9e9e9 20%, #e3e3e3 28%, #e3e3e3 37%, #e8e8e8 53%, #f6f6f6 77%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(8%,#f9f9f9), color-stop(20%,#e9e9e9), color-stop(28%,#e3e3e3), color-stop(37%,#e3e3e3), color-stop(53%,#e8e8e8), color-stop(77%,#f6f6f6), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 8%,#e9e9e9 20%,#e3e3e3 28%,#e3e3e3 37%,#e8e8e8 53%,#f6f6f6 77%,#ffffff 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f9f9f9 8%,#e9e9e9 20%,#e3e3e3 28%,#e3e3e3 37%,#e8e8e8 53%,#f6f6f6 77%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f9f9f9 8%,#e9e9e9 20%,#e3e3e3 28%,#e3e3e3 37%,#e8e8e8 53%,#f6f6f6 77%,#ffffff 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 8%,#e9e9e9 20%,#e3e3e3 28%,#e3e3e3 37%,#e8e8e8 53%,#f6f6f6 77%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.talk.current .border {
}

.talk .img {
    position: relative;
    z-index: 2;
    float: left;
    width: 143px;
}

.talk .info {
    position: relative;
}

.talk .info h2 {
    color: #1f5ec7;
    font-size: 35px;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    text-transform: capitalize;
    text-align: right;
    margin-bottom: 10px;
}

.talk.current .info h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.talk .info .author {
    color: #999;
    font-size: 24px;
    padding-bottom: 15px;
    float: left;
	padding-top: 15px;
}

.talk.current .info h3 {
    font-size: 32px;
    border-bottom: solid 1px #666;
}

.talk .info .location {
    padding-top: 15px;
    border-top: solid 1px #ddd;
}

.talk.current .info .location {
    border-top: solid 1px #555;
}

.talk .info .location .room {
    float: right;
}

.talk .info .location .time {
}

.talk .info .location .now {
    float: right;
    display: none;
    margin-right: 14px;
}

.talk.current .info .location .time {
    display: none;
}

.talk.current .info .location .now {
    display: block;

}

.talk .info .location .time,
.talk .info .location .now,
.talk .info .location .room {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.talk.current .info .location .time,
.talk.current .info .location .now,
.talk.current .info .location .room {
    font-size: 27px;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}

footer a {
    font-size: 12px;
    color: #666;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.talk img {
	border-radius: 57px;
	border: 1px solid #999;
    margin-top: -28px;
}

.talk.current img {
	 margin-top: -7px;
}
