<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>globo.com - fisl keynotes</title>
    {%  block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen" charset="utf-8">
    {% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo-globo"><a href="http://globo.com">globo.com</a></h1>
            <h1 class="nossas-palestras">nossas palestras</h1>
            <h1 class="logo-fisl"><a href="http://softwarelivre.org/fisl13?lang=pt">fisl 13</a></h1>
        </div>
    </header>
    <div class="body">
        <div class="container">
            <div class="talks">
                {% macro talk(title, author, room, time, img) -%}
                <div class="talk">
                    <div class="img">
                        <img width="115" height="115" src="{{ img }}" alt="{{ title }}" />
                    </div>
                    <div class="info">
                        <h2>{{ title }}</h2>
                        <h3>{{ author }}</h3>
                        <div class="location">
                            <p class="room">{{ room }}</p>
                            <p class="time" title="{{ time }}">{{ time }}</p>
                        </div>
                    </div>
                </div>
                {%- endmacro %}

                {% for t in talks %}
                    {{ talk(t.title, t.author.name, t.room.name, t.date.isoformat(), t.author.gravatar) }}
                {% endfor %}
            </div>
        </div>
    </div>
    <footer>
        <div class="cell">
            <a href="http://github.com/heynemann/fisl-keynotes" alt="fisl-keynotes by globo.com">powered by fisl-keynotes</a>
        </div>
    </footer>

    {% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/timeago.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fisl-keynotes.js') }}" charset="utf-8"></script>
    {% endblock %}
</body>
</html>
